# These are requirements for developing on nereid
-r requirements.txt

# Testing
tox
mock
pycountry

# Install the test package which depends on this package
trytond_nereid_test>=3.2,<3.3

# Quality check
flake8
coverage

# Documentation
sphinx
