# These are requirements for developing on nereid
-r requirements.txt

# Testing
tox
mock
pycountry

# Install the test package which depends on this package
# Install from github since 3.4 and above will not have nereid-test
# as a separate package
git+git://github.com/openlabs/nereid-test.git@develop

# Quality check
flake8
coverage

# Documentation
sphinx
