include INSTALL
include README
include TODO
include COPYRIGHT
include CHANGELOG
include MIGRATION
include LICENSE
include Makefile
include docs/*
include trytond_nereid/*.xml
include trytond_nereid/view/*.xml
include trytond_nereid/*.odt
include trytond_nereid/tryton.cfg
include trytond_nereid/locale/*.po
include trytond_nereid/icons/*
graft trytond_nereid/templates
