include INSTALL
include README
include TODO
include COPYRIGHT
include CHANGELOG
include MIGRATION
include LICENSE
include Makefile

recursive-include docs *

include trytond_nereid/*.xml
include trytond_nereid/view/*.xml
include trytond_nereid/*.odt
recursive-include trytond_nereid *.cfg
include trytond_nereid/locale/*.po
include trytond_nereid/icons/*
recursive-include tests *.py
recursive-include nereid_test_module *.rst
graft trytond_nereid/templates

include tox.ini
include *.txt
