# This file specifically install stryton and the tryton specific
# dependencies of nereid. This is not a part of the main pip
# requirements file because tryton itself is not a dependency of
# nereid because of the other backends nereid supports.

# First install the standard dependencies

-r requirements.txt

# Install tryton itself

trytond >2.0,<2.1

# ELectronic mail and electronic mail tempalte are still in the
# review stage and not available on PYPI
git+git://github.com/openlabs/electronic-mail.git@2.0#egg=trytond-electronic-mail
git+git://github.com/openlabs/electronic-mail-template.git@2.0#egg=trytond-electronic-mail-template
