# The requirements file is a way to get pip to install specific packages to 
# make up an environment.

# The default version of CCY module does not install because of empty
# white space at the end of setup.py.
svn+http://ccy.googlecode.com/svn/trunk/#egg=ccy
